@model User;

<form asp-controller="Register" asp-action="CreateUser"
      method="post">

    <!-- This is for Register Index-->

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-5 ">
            Create Wound Repository Users
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Username">Username :</label>
        <div class="col-sm-5">
            <input asp-for="Username" class="form-control" />
        </div>
        @{
            // Validation Message for Username
        }
        <div class="col-sm-4">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="Email">Email :</label>
        <div class="col-sm-5">
            <input asp-for="Email" class="form-control" />
        </div>
        @{
            // Validation Message for Email
        }
        <div class="col-sm-4">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="UserPw">Password :</label>
        <div class="col-sm-5">
            <input asp-for="UserPw" class="form-control" />
        </div>
        @{
            // Validation Message for UserPw
        }
        <div class="col-sm-4">
            <span asp-validation-for="UserPw" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2" asp-for="UserPw2">Confirm Password :</label>
        <div class="col-sm-5">
            <input asp-for="UserPw2" class="form-control" />
        </div>
        @{
            // Validation Message for UserPw2
        }
        <div class="col-sm-4">
            <span asp-validation-for="UserPw2" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-2">User Role : </label>
        <div class="col-sm-5">
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="rb1"
                       asp-for="UserRole" value="doctor" checked />
                <label class="form-check-label" for="rb1">Doctor</label>

            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="rb2"
                       asp-for="UserRole" value="annotator" />
                <label class="form-check-label" for="rb2">Annotator</label>

            </div>

            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="rb3"
                       asp-for="UserRole" value="admin" />
                <label class="form-check-label" for="rb3">Admin</label>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-6">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

    @if (ViewData["Message"] != null)
    {
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-6">
                <div class="alert alert-@ViewData["MsgType"]">
                    @Html.Raw(ViewData["Message"])
                </div>
            </div>
        </div>
    }
</form>

