<div class="container">
    <h1>Original file:</h1>
    <form action="/action_page.php">
        <input type="file" id="Original" name="Originak">


        <h1>Image version:</h1>
        <input type="file" id="Image_ver" name="Image_ver">

        <h3>Image version</h3>
        <select id="version">
            <option>- XX -</option>
            <option>- XX -</option>
            <option>- XX -</option>
        </select>


        <h1>Original mask</h1>
        <input type="file" id="mask" name="mask">

        <div>
            <label>Enter wound name: </label>
            <input type="text" id="Wound_name">
        </div>
        <div>
            <label>select wound type: </label>
            <select id="wound_type">
                <option>- XX -</option>
                <option>- XX -</option>
                <option>- XX -</option>
            </select>

            <div>
                <label>Enter wound Location: </label>
                <input type="text" id="Wound_Location">
            </div>

        </div>

        <input type="submit">
    </form>
    @if (ViewData["Message"] != null)
    {
        <div class="alert-@ViewData["MsgType"]">
            @ViewData["Message"]
        </div>
    }
</div>