@model Image

<div class="container">
    <form asp-controller="Wound" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-3" asp-for="Photo">Original Wound Image:</label>
            <div class="col-5">
                <input type="file" asp-for="Photo" multiple>
            </div>
        </div>

        <div class="form-group">
            <label class="col-3" asp-for="Photo">Annotation Image:</label>
            <div class="col-5">
                <input type="file" asp-for="Photo" multiple>
            </div>
        </div>

        <div class="form-group">
            <label class="col-3" asp-for="Photo">Mask Image:</label>
            <div class="col-5">
                <input type="file" asp-for="Photo" multiple>
            </div>
        </div>

        <div class="form-group">
            <label class="col-3" asp-for="name">Wound Name: </label>
            <div class="col-5">
                <input class="form-control" asp-for="name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-3">Wound Stage: </label>
            <div class="col-5">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-3">Remarks: </label>
            <div class="col-5">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-3">Wound Category: </label>
            <div class="col-5">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-3">Wound Location: </label>
            <div class="col-5">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-3">Wound Tissue: </label>
            <div class="col-5">
                <input class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-3">Image Version</label>
            <div class="col-5">
                <select class="form-control" asp-items="@((SelectList)ViewData["versions"])">
                    <option value="">-SELECT-</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-5">
                <input class="btn btn-primary" type="submit" value="Create">
            </div>
        </div>
    </form>
</div>