@model CombineClass
@if (TempData["Msg"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Msg"]
    </div>
}
<form asp-controller="Wound" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group row mt-4 mb-4">
        <div class="col-sm-6">
            <h2>Create Wound</h2>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-sm-2" asp-for="image.Photo">Wound Image:</label>
        <div class="col-sm-4">
            <input type="file" asp-for="image.Photo">
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="image.Photo"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2" asp-for="annotationimage">Annotation Image:</label>
        <div class="col-sm-4">
            <input type="file" asp-for="annotationimage">
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="annotationimages"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2" asp-for="maskimage">Mask Image:</label>
        <div class="col-sm-4">
            <input type="file" asp-for="maskimage">
        </div>
        <div class="col-sm-6">
            <span asp-validation-for="maskimages"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2" asp-for="wound.name">Wound Name: </label>
        <div class="col-sm-4">
            <input class="form-control" asp-for="wound.name">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2" asp-for="wound.wound_stage">Wound Stage: </label>
        <div class="col-sm-4">
            <input class="form-control" asp-for="wound.wound_stage">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2" asp-for="wound.remarks">Remarks: </label>
        <div class="col-sm-4">
            <input class="form-control" asp-for="wound.remarks">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2" asp-for="woundc.name">Wound Category: </label>
        <div class="col-sm-4">
            <select class="form-control" asp-items="@((SelectList)ViewData["woundCategory"])" asp-for="woundc.name">
                <option value="">-SELECT-</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2" asp-for="woundl.name">Wound Location: </label>
        <div class="col-sm-4">
            <input class="form-control" asp-for="woundl.name">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2" asp-for="tissue.name">Wound Tissue: </label>
        <div class="col-sm-4">
            <select class="form-control" asp-items="@((SelectList)ViewData["tissue"])" asp-for="tissue.name">
                <option value="">-SELECT-</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2">Image Version</label>
        <div class="col-sm-4">
            <select class="form-control" asp-items="@((SelectList)ViewData["version"])" asp-for="woundv.name">
                <option value="">-SELECT-</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-4">
            <input class="btn btn-primary" type="submit" value="Create">
        </div>
    </div>
</form>


