<div class="container">
    <div class="row">
        <form asp-controller="Wound" asp-action="Update" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-sm-6">
                    <h2>Update Wound</h2><br>
                </div>
            </div>

            <div class="form-group row">
                <img src="/photos/" style="width:100%;height:500px;width:50%" />
            </div>


            <div class="form-group row">
                <label class="col-sm-2">Wound Name: </label>
                <div class="col-sm-4">
                    <input class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2">Wound Stage: </label>
                <div class="col-sm-4">
                    <input class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2">Remarks: </label>
                <div class="col-sm-4">
                    <input class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2">Wound Category: </label>
                <div class="col-sm-4">
                    <input class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2">Wound Location: </label>
                <div class="col-sm-4">
                    <input class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2">Wound Tissue: </label>
                <div class="col-sm-4">
                    <input class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2">Image Version</label>
                <div class="col-sm-4">
                    <select class="form-control">
                        <option value="">-SELECT-</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-4">
                    <input class="btn btn-primary" type="submit" value="Update">
                </div>
            </div>
        </form>
    </div>
</div>
